@import "tailwindcss";


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slideIn {
  animation: slideIn 1.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.animate-slideOut {
  animation: slideOut 1.8s cubic-bezier(0.22, 1, 0.36, 1);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

/* popup animation */
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.3s ease forwards;
}

/* tick draw animation */
.tick-path {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: draw 0.5s ease forwards 0.2s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
